.checkout {
  &__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__user-info {
    position: sticky;
  }

  &__cart {
    background-color: #EDEFF5;
    padding: 15px 25px;
    margin-left: 20px;
    border-radius: 10px;

    &__title {
      font-size: 12px;
      color: #666;
      border-bottom: 1px solid #ccc;
      padding: 10px 0px;
    }

    &__fee {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
    }
  }
}

.total-title {
  font-size: 16px;
}

.total-value {
  font-size: 16px;
  color: #1ABA1A;
}

.button-order {
  padding: 13px;
  font-size: 15px;
  width: 20%;
  border: 1px solid #1ABA1A;
  background-color: #1ABA1A;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;
  margin: 20px 0px;
}

.button:hover {
  background-color: white;
  color: #1ABA1A;
}